extends layout

block content
  section.blog-post
    each post in posts.sort('date', 'ASC').slice(0,10)        
      div.entries.col-md-6
        .entry
          .entry-header
            a.imagefeatured(href=post.permalink)
              img.img-responsive(src= post.banner)
          .entry-body
            
            h3= post.title
            p.date= "Posted " + dateFormat(post.date, 'LL')
            p!= postExcerpt(post.body, 250)
            footer
              a.btn.btn-primary.btn-rounded.btn-xs(href= post.permalink) Continue Reading
