extends layout

block head
	title= "WebriQ - " + entry.title

block header
	h1= entry.title

block content
	article.box.post
		div.image.featured(style={"background-image": "url(" + entry.banner + ")"})
		p.lead= entry.shortdesc
		!= entry.body
		p <a href='/'> Return
		div#disqus_thread

